[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]etadata/
[Aa]ssets/AssetStoreTools*

[Dd]ebug/
[Rr]elease/
[Ss]olution/
*.sln
*.csproj
*.userprefs
*.pidb
*.suo
*.user

.DS_Store

Thumbs.db
ehthumbs.db

*.apk
*.aab
*.unitypackage
*.pdb
*.mdb
*.opendb
*.vs/
.vscode/
